body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4503e0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d00000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

li .edit-btn,
li .delete-btn {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
}

li .edit-btn {
    background-color: #ffc107;
}

li .delete-btn {
    background-color: #f44336;
    color: white;
}
